.modal , .modal-mobile {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

div#modalOne {
  max-width: 100%;
  /* overflow: hidden; */
}
.modal-content {
  margin: 50px auto;
  border: 1px solid #999;
  width: 60%;
}


.show-mobile-atag .modal-content{
  padding: 0;
  width: 90%;
  height: auto;
}
input.mobile-radio-btn {
  width: 10px;
}
.contact-form h2,
p-class {
  margin: 0 0 20px;
  font-weight: 400;
  color: #999;
}
.contact-form span {
  color: #666;
  display: block;
  padding: 0 0 5px;
}
.mobile-view-form {
  margin: 3px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #eee;
  padding-bottom: 17px;
}
.radio-listing{
  display: flex;
}
.mobile-submit{
  display: flex;
  justify-content: center;
}
#mobile-submit-btn-and {
  color: #ffffff;
  background: #447ebd;
  border-radius: 5px;
  /* width: 100%; */
  font-size: 12px;
  border: none;
  padding: 8px;
}
#mobile-submit-btn-ios {
  color: #ffffff;
  background: #447ebd;
  border-radius: 5px;
  /* width: 100%; */
  font-size: 12px;
  border: none;
  padding: 8px;
}

.mobile-form-body{
   padding: 1rem;
   display: flex;
   font-size: 12px;
   flex-direction: column;
}
.desktop-view-form {
  padding: 5rem;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #eee;
}
.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}
.contact-form button-class {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.button-class:hover {
  background: #2371a0;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  margin-top: -30px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close-mobile {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  top: 10px;
  right:10px;
  position:relative;
	
}
.close-mobile:hover,
.close-mobile:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#selectedURL {
	margin-top:20px;
}
button.button-class {
  background: none;
  border-top: none;
  outline: none;
  border-right: none;
  border-left: none;
  border-bottom: #02274a 1px solid;
  padding: 0 0 3px 0;
  font-size: 16px;
  cursor: pointer;
	
}
button.button-class:hover {
  border-bottom: #a99567 1px solid;
  color: #a99567;
}
.show-large {
  display: none;
	
}
.show-mobile-ios{
  display: none;
}
.show-mobile{
	display: flex;
  justify-content: center;
}

a.show-mobile-atag.txt-btn{  
  padding: 10px;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.txt-btn {border:2px solid #000;}
@media only screen and (min-width: 767px) {
  .show-large {
    display: block;
	  text-decoration: none;
   	padding: 10px;
    display: flex;
    justify-content: center;
  }
  a.button.show-large {
    width: 50%;
  }
  .show-mobile {
    display: none;
  }
  .show-mobile-ios{
    display: none;
  }
}
@supports (-webkit-touch-callout: none) {
  .show-mobile-ios{
    display: block;
	  text-decoration: none;
   	padding: 10px;
    display: flex;
    justify-content: center;
  }
  a.show-mobile-ios-atag.txt-btn {
    padding: 10px;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
  .show-mobile {
    display: none;
    
  }
}


